@model Haber
<div class="container border  rounded-top">
    <div class="p-5">
        <h2>@Model.Name</h2>
        <img class="pb-3" style="width:850px;height:400px;" src="@Model.ImageUrl" alt="Alternate Text" />
        <p class="pt-3 border-top" style="font-size:17px;">
            @Model.Description
        </p>
        

    </div>
</div>
