@model HabersListViewModel
<div class="container hero-header bg-light py-5 mb-5">
    <div class="owl-carousel owl-theme">
        @foreach (var item in Model.Habers)
            {
            <div class="item" style="border:solid;">
                <a asp-controller="Home" asp-action="HaberDetay" asp-route-id="@item.HaberID">
                        <img  style="width:contain;height:400px;" src="@item.ImageUrl"  />
                </a>
                
                
            </div>
            }
</div>
    </div>
<vc:navigation-menu />
<div class="container border mt-5">
    <h1>Haberler</h1>
    <div class="row pb-5 ">     
        @foreach (var p in Model.Habers)
        {
                <div class="col col-lg-4 p-3 ">
                    <partial name="HaberSummary" model="p" />
                </div>
        }
    </div>
</div>
@*Bu kısım ürünlerin geldiği ve listelendiği kısım ürünlerin cardları ProductSummary üzerinden alınmaktadır*@
@*Bu kısım numaralı navigasyonun olduğu bölüm*@
@*<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>*@
